{% extends "base.html"%}
{% block title%}Главная{% endblock %}
{% include 'components/navbar.html' %}
{% block content%}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="row">
        {% if posts %}
        {% for post in posts %}
        <div class="col-lg">
          {% include 'components/post.html'%}
        </div>
        {% endfor%}
        {% else %}
        <div class="col-lg d-flex flex-column align-items-center">
          <p class="col-lg text-secondary">Как видишь, здесь пока ничего нет</p>
        </div>
        {% endif %}
      </div>
    </div>
    <nav class="d-flex align-items-center justify-content-center">
      <ul class="pagination">
        {% for page_number in range(pages) %}
        <li class="page-item {{ 'active' if page_number + 1 == active_page_number else ''}}"><a class="page-link"
                                                                                                href="/{{ page_number + 1 }}">{{
          page_number + 1 }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>
{% endblock %}