{% extends "base.html"%}
{% block title %}Вход{% endblock %}
{% block content %}
<section class="vh-70">
  <div class="container py-4 h-100">
    <p><a class="link-opacity-100" href="/"><- На главную </a></p>
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-secondary text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
              <img class="mb-2" src="../static/imgs/locked.png" width="50px" height="50px" alt="">
              <h2 class="fw-bold mb-2 text-uppercase">Вход</h2>
              <p class="text-white-50 mb-5">С возвращением!</p>
              <form action="/login">
                <div class="form-floating mb-3">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Email">
                  <label class="text-secondary" for="email">Email</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" name="password" id="password" placeholder="Пароль">
                  <label class="text-secondary" for="password">Пароль</label>
                </div>
                <!--                <p class="small mb-3 pb-lg-2"><a class="text-white-50" href="#!">Забыли пароль?</a></p>-->
                <button class="btn btn-primary btn-lg px-5" type="submit">Подтвердить</button>
              </form>
            </div>
            <div>
              <p class="mb-0">Еще нет аккаунта? <a href="/signup" class="text-white-50 fw-bold">Зарегистрироваться</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}