{% extends "base.html"%}
{% block title %}Регистрация{% endblock %}
{% block content %}
<form class="container-lg justify-content-center align-items-center", action="/signup", method="POST">
  <div class="form-outline mb-4">
    <label class="form-label" for="form2Example1">{{ form.email.label }}</label>
    <input type="email" name="email" id="form2Example1" class="form-control" required/>
    <div class="valid-feedback">
      {{ form.email.errors[0] }}
    </div>
  </div>

  <div class="form-outline mb-4">
    <label class="form-label" for="password">{{ form.password.label }}</label>
    <input type="password" name="password" id="password" class="form-control" required/>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>

  <div class="form-outline mb-4">
    <label class="form-label" for="repeat_password">{{ form.repeat_password.label }}</label>
    <input type="password" name="repeat_password" id="repeat_password" class="form-control" required/>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      <a href="#!">Forgot password?</a>
    </div>
  </div>

  <button type="submit" class="btn btn-primary btn-block mb-4">Зарегистрироваться</button>
  {{ form.csrf_token }}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
        {% for message in messages %}
          <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  {% for error in form.email.errors %}
    <p>{{ error }}</p>
  {% endfor %}

  {% for error in form.password.errors %}
    <p>{{ error }}</p>
  {% endfor %}

  {% for error in form.repeat_password.errors %}
    <p>{{ error }}</p>
  {% endfor %}
</form>
{% endblock %}